{{! TODO: New Post Card:
------------- Input field for title
------------- Dropdown selection for category
------------- Input for content of post }}
{{! TRAVELS }}
<div class="container">
<div class="input-field col s12">
  <select id="mySelect" onchange="myFunction()">
    <option value="" disabled selected>Choose A Category</option>
    <option value="Travel">Travel</option>
    <option value="Recipe">Recipe</option>
    <option value="Experience">Experience</option>
  </select>
  <label>New Post</label>
</div>
<br />
<div id="demo"></div>

{{! --TODO: Post Feed:
------------- Title
------------- Post Content
------------- Comments
------------- Delete Button
------------- Edit Button
Stephanie }}
{{#each travels as |travel|}}
   <div class="row">
  <div class="col s12 m9">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">{{location}} </span>
        <p>{{format_date starting_date}} to {{format_date ending_date}}</p>
        <p>Budget: ${{budget}}</p>
        <p>{{what_do}}</p>
        <p>written by {{user.username}}</p>

      </div>
      <div class="card-action">
        <a href="#">Comment</a>
      </div>
    </div>
  </div>
</div>
{{/each}}
{{#each recipes as |recipe|}}
<div class="row">
  <div class="col s12 m9">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">{{name}}</span>
        <p>${{price}}</p>
        <p>{{link}}</p>
        <p>written by {{user.username}}</p>
      </div>
      <div class="card-action">
        <a href="#">Comment</a>
      </div>
    </div>
  </div>
</div>
{{/each}}
{{#each experiences as |experience|}}
<div class="row">
  <div class="col s12 m9">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">{{what_do}}</span>
        <p>Budget: ${{budget}}</p>
        <p>Rate of going is {{rating}} out of 5</p>
        <p>written by {{user.username}}</p>
      </div>
      <div class="card-action">
        <a href="#">Comment</a>
      </div>
    </div>
  </div>
</div>
{{/each}}

</div>
 {{!-- On delete --}}
  <button data-target="modal7" class="btn  red darken-1 modal-trigger">Modal</button>
  <!-- Modal Structure -->
  <div id="modal7" class="modal">
    <div class="modal-content">
      <h4>Hey:</h4>
      <p>Do you really want to delete this post?</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Yes</a>
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">No</a>
    </div>
  </div>
 </div>
 <div>

 {{!-- On edit --}}
  <button data-target="modal8" class="btn  red darken-1 modal-trigger">Modal</button>
  <!-- Modal Structure -->
  <div id="modal8" class="modal">
    <div class="modal-content">
      <h4>Success!</h4>
      <p>Your post was edited successfully!</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">OK</a>
    </div>
  </div>
 </div>
 <div>

 {{!-- On post --}}
  <button data-target="modal9" class="btn  red darken-1 modal-trigger">Modal</button>
  <!-- Modal Structure -->
  <div id="modal9" class="modal">
    <div class="modal-content">
      <h4>Success!</h4>
      <p>Your post was added successfully!</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">OK</a>
    </div>
  </div>
 </div>
 <div>

 {{!-- On Error --}}
  <button data-target="modal10" class="btn  red darken-1 modal-trigger">Modal</button>
  <!-- Modal Structure -->
  <div id="modal10" class="modal">
    <div class="modal-content">
      <h4>Oops!</h4>
      <p>Something went wrong! Please try your post again.</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">OK</a>
    </div>
  </div>
 </div>
 <div>

<script src="/js/newPost.js"></script>
